div.new-incident-container {
   /* - FLEX - */
   display: flex;
   align-items: center;
   justify-content: center;
   /*----------*/
   width: 100%;
   max-width: 1120px;
   height: 100vh;
   margin: 0 auto;
}

div.content {
   /* - FLEX - */
   display: flex;
   justify-content: space-between;
   align-items: center;
   /*----------*/
   width: 100%;
   padding: 96px;
   background-color: #f0f0f5;
   border-radius: 8px;
   box-shadow: 0 0 100px rgba(0, 0, 0, .1);
}

div.content > section {
   width: 100%;
   max-width: 380px;
}

section > h1 {
   margin: 64px 0 16px 0;
   font-size: 32px;
}

section > p {
   font-size: 18px;
   color: #737380;
   line-height: 32px;
}

div.content > form {
   width: 100%;
   max-width: 450px;
}

form > input, form > textarea {
   margin-top: 12px;
}