div.profile-container {
    width: 100%;
    max-width: 1180px;
    padding: 0 30px;
    margin: 32px auto;
}

header {
    /* - FLEX - */
    display: flex;
    align-items: center;
    /*----------*/
}

header>span {
    font-size: 20px;
    margin-left: 24px;
}

header>img {
    height: 64px;
}

header>.button {
    width: 260px;
    margin-left: auto;
    margin-top: 0;
}

header>button {
    width: 50px;
    height: 50px;
    margin-left: 16px;
    background-color: transparent;
    border-radius: 8px;
    border: 1px solid #cccce6;
    transition: .2s;
}

header>button:hover {
    border-color: #999;
}

div.profile-container>h1 {
    margin: 80px 0 24px 0;
}

div.profile-container>ul {
    /* - GRID - */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    /*----------*/
    list-style: none;
}

ul>li {
    position: relative;
    padding: 24px;
    background-color: #FFF;
    border-radius: 8px;
}

li>button {
    position: absolute;
    top: 24px;
    right: 24px;
    border: 0;
    background-color: #FFF;
}

li>button:hover {
    opacity: .6;
}

li>strong {
    display: block;
    margin-bottom: 10px;
    color: #41414D;
}

li>p {
    font-size: 16px;
    color: #737390;
}

li>p+strong {
    margin-top: 32px;
}