@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');

* {
   margin: 0;
   padding: 0;
   outline: 0;
   box-sizing: border-box;
}

body {
   font: 400 14px Roboto, sans-serif;
   background-color: #f0f0f5;
   -webkit-font-smoothing: antialiased;
}

input,
button,
textarea {
   font: 400 18px Roboto, sans-serif;
}

button {
   cursor: pointer;
}

form input {
   width: 100%;
   height: 60px;
   padding: 0 20px;
   color: #333;
   border: 1px solid #dcdce6;
   border-radius: 8px;
}

form textarea {
   width: 100%;
   min-height: 140px;
   max-height: 320px;
   padding: 16px 20px;
   color: #333;
   resize: vertical;
   line-height: 24px;
   border: 1px solid #dcdce6;
   border-radius: 8px;
}

.button {
   display: inline-block;
   width: 100%;
   height: 50px;
   margin-top: 16px;
   text-align: center;
   text-decoration: none;
   color: #FFF;
   font-weight: 700;
   font-size: 18px;
   line-height: 50px;
   background-color: #e02041;
   border: 0;
   border-radius: 8px;
   transition: .5s;
}

.button:hover {
   background-color: #b41832;
}

.back-link {
   /* - FLEX - */
   display: flex;
   align-items: center;
   /*----------*/
   margin-top: 40px;
   text-decoration: none;
   color: #41414D;
   font-weight: 500;
   font-size: 18px;
   transition: opacity .2s;
}

.back-link:hover {
   opacity: .6;
}

.back-link svg {
   margin-right: 8px;
}