div.logon-container {
   /* - FLEX - */
   display: flex;
   align-items: center;
   justify-content: space-between;
   /*----------*/
   width: 100%;
   max-width: 1120px;
   height: 100vh;
   margin: 0 auto;
}

section.form {
   width: 100%;
   max-width: 350px;
}

section.form > form {
   margin-top: 100px;
}

form > h1 {
   font-size: 32px;
   margin-bottom: 32px;
}